body {
    margin-left: 300px;
    background-color: gray;
    padding-top: 30px;
    padding-bottom: 30px;
}
.a {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
}
.b {
    text-align: center;
    background-color: silver;
    padding-left: 30px;
    padding-right: 30px;
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 30px;
    padding-bottom: 30px;
}
.c {
    text-align: left;
}
.d {
    width: 450px;
    background-color: white;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
    padding-bottom: 100px;
}